<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Syncfusion.Data.WPF46" version="15.2.0.46" targetFramework="net47" />
  <package id="Syncfusion.SfGrid.WPF46" version="15.2.0.46" targetFramework="net47" />
  <package id="Syncfusion.Shared.Base46" version="15.2.0.46" targetFramework="net47" />
  <package id="Syncfusion.Shared.WPF46" version="15.2.0.46" targetFramework="net47" />
  <package id="Syncfusion.Tools.WPF46" version="15.2.0.46" targetFramework="net47" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net47" />
</packages>